
<h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{
        foreach (Product product in Model.getAllProducts)
        {
            @Html.Partial("Products",product)
        }
    }
</div>
